body{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.548),rgba(136, 130, 130, 0.185),rgba(0, 0, 0, 0.548));
}
#all{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
#clk{
    width: 100%;
    color:rgb(19, 175, 141); 
    text-align:center;
    font-size:12vh; 
    border-radius:8px; 
    text-shadow:3px 3px 5px rgba(39, 36, 36, 0.623)
}
#table{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 2px inset rgba(128, 128, 128, 0.658);
    width: 50%;
    margin-left: 24%;
    background: linear-gradient(to right, rgba(93, 165, 233, 0.425), rgba(128, 128, 128, 0.479),rgba(93, 165, 233, 0.425));
    padding: 10px;
    margin-top: 2%;
}
#head{
    display: flex;
    width: 100%;
    margin-left: 20%;
}
.td{
    border: 1px inset rgba(0, 0, 0, 0.507);
    width: 15%;
}
.PatList1{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.headName{
    border-bottom: 2px inset rgba(0, 0, 0, 0.521);
    width: 15%;
}
#header{
    color: rgba(0, 0, 0, 126);
    text-shadow: 1px 2px 1px rgba(19, 18, 17, 0.374);
}
#form{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.425), rgba(128, 128, 128, 0.479),rgba(0, 0, 0, 0.425));
    padding: 10px;
    border: 2px inset rgba(128, 128, 128, 0.658);
    margin-left: 24%;
    width: 50%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
}
.buttn{
    background-color: rgba(128, 128, 128, 0.699);
    border: 1px inset rgba(0, 0, 0, 0.582);
    width: 30%;
    margin-top: 1%;
}
.list1{
    display: flex;
    width: 100%;
}
.list2{
    border: 3px inset rgba(52, 110, 187, 0.616);
}
tbody{
    width: 100%;
}

@media screen and (max-width: 768px){
    #table{
        width: 70vw;
        margin-left: 10%;
    }
    /* .td{
        margin-right: 0%;
    } */
}